#include "registry.struct_json.h"

#include <serialization/json_converters.h>

#include <json.hpp>

{% for struct_info_name in struct_info_file_names %}#include "{{ struct_info_name }}.json.cpp.inl"
{% endfor %}
