#pragma once

{% for struct_info_name in found_file_names %}void {{ struct_info_name }}_registerDibidabStructs();
{% endfor %}
namespace {{ registry_namespace }}
{
void registerStructs()
{
    {% for struct_info_name in found_file_names %}{{ struct_info_name }}_registerDibidabStructs();
    {% endfor %}
}

}
