#include <dibidab_struct.h>

namespace {{ registry_namespace }}
{

{% for struct_info_name in struct_info_file_names %}#include "{{ struct_info_name }}.struct_info.inl"
{% endfor %}
void registerStructs()
{
    {% for struct_info_name in struct_info_file_names %}dibidab_struct_info_{{ struct_info_name }}::registerDibidabStructs();
    {% endfor %}
}

}
